// ==============================================
// Distributed flex items mixin
// ==============================================

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin flex-align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}
