// ==============================================
// rem font size and fallback mixin
// ==============================================

@mixin fontSize($size) {
    font-size: $size;
    font-size: rem($size);
}
