// ==============================================
// Project colour declarations
// ==============================================

$bg-colour:        #eef1f1;
$highlight-colour: #9cc94b;
$tab-colour:       #f6f8f8;
$text-colour:      #94969a;
$white:            #fff;
