// ==============================================
// Variable declaration
// ==============================================

$rem-base: 16px;
$gutter: 20px;

// Responsive break points
$large:  990px;
$medium: 640px;
$small:  480px;
